# local package
-e .

# external requirements
click
numpy
torch
torch-geometric
wget
matplotlib
wandb
python-dotenv
hydra
omegaconf
pre-commit==2.21.0
awscli==1.27.41
flake8==4.0.1
isort
Sphinx
coverage
dvc
nbdev
black
pytest
coverage
